<form action ='/names' method='post'>
  <p> Player 1: </p>
  <input type='text' name='player_1'>
  <p> Player 2: </p>
  <input type='text' name='player_2'>
  <input type='submit' value='submit'>
</form>
